<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Wigel - Distributed Wikipedia Search</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
		<!-- <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script> -->
	</head>
	<body id="body">
		{{{body}}}
	</body>
</html>